:host {
  display: block;
}

paper-material{
  margin-bottom: 5%;
  padding: 2% 3%;
  background-color: #F9F9F9;
  box-shadow: 5px 5px 5px #ccc !important;
}

h1{
  font-family: 'RobotoDraft';
  font-style: normal;
	font-weight: 300;
  color: #444;
  font-size: 30px;
  border-bottom: 1px solid #FFC16B;
}

img{
  width: 100%;
  height: auto;
}
