body {
  font-family: "RobotoDraft";
  font-weight: 300;
}

p {
  margin: 20px;
  padding: 60px 20px;
  //border-radius: 20px;
  //background-color: #eee;
}


header{
  background-color: antiquewhite;
  font-family: inherit;
  font-stretch: extra-expanded;
}

header h1 {
  font-size: 80px;
  vertical-align: baseline;
  font-family: "RobotoDraft";
  display: inline;
  color: #212121;
}

h3 {
  color: #212121;
}

section{
  padding: 8px;
}

/*.logo{
    display:block;
    overflow: visible;
}*/

.center {
  text-align: center;
}

/* polymer */

:host {
  display: block;
  overflow: hidden;
}

body /deep/ core-toolbar {
  background-color: #EF8814;
  color: #fff;
}


/* core elements */

core-scaffold,
core-drawer-panel{
  width: 100%;
  height: 100%;
}


core-drawer-panel{
  width: 100%;
  height: 100%;
}

core-header-panel {
  width: 100%;
  height: 100%;
  background: white;
  position: inherit;
}

core-animated-pages {
  width: 90%;
  height: 90%;
  overflow: hidden;
  -webkit-user-select: none;
/*   overflow-y: auto; */
}

core-animated-pages > * {
  font-size: inherit;
  padding: 30px;
  border-radius: 5px;
  background-color: white;
}

core-menu {
  color: #EF8814;
  margin: 10px 0 0 0;
}

core-image.logo {
  display: block;
  overflow: visible;
  position: relative;
  align-content: center;
}
core-image::shadow img {
  height: 150px;
}




/* paper elements */

core-menu > paper-item {
  transition: all 300ms ease-in-out;
}
core-menu > paper-item.core-selected {
  background: #ffe0b2;
}
paper-item a {
  text-decoration: none;
  color: currentcolor;
  margin-left: 5px;
  color: #212121;
}

paper-button {
    margin-left: 20px;
}



/* ESTILOS DEL CONTACT US */



// ESTILOS DEL MAIN
core-image.logo{
    display:block;
    overflow: visible;
    position: relative;
    align-content: center;
}
core-image::shadow img{
    height:150px;
}

.center{
    text-align: center;
}



//ESTILOS CONTACT US
.article core-header-panel {
   background: white;
   position: inherit;
}

paper-input-decorator,
paper-input {
  margin: 20px;
  background-color: #eee;
  padding: 5px;
  border-radius: 5px;
}
core-menu > paper-item {
  transition: all 300ms ease-in-out;
}

paper-button{
  color: black;
  background-color: antiquewhite;
  
}

paper-item a {
  text-decoration: none;
  color: currentColor;
  margin-left: 5px;
  color: #212121;
}


/*
paper-icon-button {
  background: #4285f4;
  color: #fff;
  margin: 20px;
}
*/
/* icons */



paper-icon-button{
  background-color: grey;// transparent
  padding: 10px;
  border-radius: 15px;  
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);  
}
paper-icon-button::shadow #icon {
  width: 120px;
  height: 120px;
}



paper-icon-button:active{
  background-color: navajowhite;
}
paper-icon-button:active::shadow text {
  fill: rgb(255, 255, 0);
  stroke: rgb(255, 255, 0);
}
paper-icon-button:active::shadow rect:first-child {
  fill: darkgrey;
}

//svg
/*
paper-icon-button::shadow rect {
  fill: lightgrey;
  stroke-width: 3px;
  stroke: white;
}
*/
paper-icon-button:active::shadow rect:first-child {
  fill: darkgrey;
}
/*
paper-icon-button::shadow text {
  fill: rgb(255, 152, 0);
}
paper-icon-button:hover::shadow rect:first-child {
  fill: yellow;
}
paper-icon-button:active::shadow rect:first-child {
  fill: red;
}
*/



/* media query */

@media all and (max-width: 480px) {
  core-animated-pages {
    width: 100%;
    height: 100%;
  }
}

