:host {
  display: block;
  background: #FFF;
}


paper-material.paper-card {
  min-width: 90%;
  max-height: 400px;
  --paper-card-header-color: var(--paper-pink-500);
}


google-map {
  height: 300px;
}


.profile-picture{
  float: left;
  padding: 5%;
  padding-right: 10%;
  vertical-align: top;

  display: inline-block;
}






#cards {
}

paper-card {
  width: 100%;
  margin-bottom: 16px;
}




.logo {
  width: 100%;
  padding-bottom: 5%;
}

.icon {
  width: 20%;
  height: 30%;
}

.head-title {
  padding-left: 10%;
  font-size: 3.5vh;
}

.subtitle {
  font-size: 2.5vh;
  padding-top: 3%;
}


.div-content {
  font-size: 2vh;
  display: block;
  overflow: hidden;
  text-align: justify;
}

.article {
  font-size: 2.0vh;
  margin: 5%;
  text-align: justify;
  margin-top: 0%;
}

.pad-left {
  padding-left: 5%;
}
