:host {
  display: block;
  background-color: #FFF;
}

paper-card {
  width: 100%;
  margin-bottom: 16px;
  background: none !important;
  box-shadow: 5px 5px 5px #ccc;
}

paper-material {
  height: auto !important;
  margin-bottom: 10px;
  border-radius: inherit;
  @apply(--layout-fit);
  background-color: white;
}

.profile-picture{
  float: left;
  padding: 5%;
  padding-right: 10%;
  vertical-align: top;

  display: inline-block;
}

#cards {
}

.logo {
  width: 100%;
  padding-bottom: 5%;
}

.icon {
  width: 20%;
  height: 30%;
}

.head-title {
  padding-left: 10%;
  font-size: 3.5vh;
}

.subtitle {
  font-size: 2.5vh;
  padding-top: 3%;
  color: #EFA715;
}

.div-content {
  font-size: 2vh;
  display: block;
  overflow: hidden;
  text-align: justify;
}

.article {
  font-size: 2.0vh;
  margin: 5%;
  text-align: justify;
  margin-top: 0%;
}

.pad-left {
  padding-left: 5%;
}


div.right span {
  font-style: italic;
}

a.email-link
{
  padding: 0px;
  width: auto !important;
  display: inline;
  margin: 0px !important;
  color: #289fb0;/*#494B79;*/
  font-size: 12px;
  text-transform: lowercase;
  background: none !important;
}
