:host {
 display: block;
  background: #FFF;
}

.head-title{
  padding-left: 10%;
  font-size: 4vh;
}

.second-title{
  font-size: 2.5vh;
  padding-top:3%;
  padding-left: 10%;
}
.subtitle{
  font-size: 2.5vh;
  padding-top:7%;
}
.subtitle2{
  font-size: 2.5vh;
  padding-top:9%;
}

.left{
  float: left;
  padding:5%;
  padding-left:10%;
  padding-right:10%;
  vertical-align:top;
}
