docs
node_modules
dist
test/temp
.sass-cache
app/bower_components
.tmp
test/bower_components/
.divshot-cache/
.yo-rc.json
/app/elements/my-test/my-test.html
/app/elements/my-test/my-test.css
/app/services (copy).html
