:host {
  display:block;
  background: transparent;
}
.text-home{
  display: block;
  width:50%;
  height: auto;
}
.home-disp{
  display: block;
  width: 50%;
  height: 200px;
}

.big {
  margin-top: 192px;
  --iron-icon-height: 20vh;
  --iron-icon-width: 20vh;
  --paper-icon-button-ink-color: #FFF;
  --background-color: red;
  font-size: 2vh;
}


paper-toolbar {
  padding: 16px;
  border-radius: 5px;
  cursor: pointer;
 --paper-toolbar-background: var(--secondary-background-color); /* changes the background to blue*/
 --paper-toolbar-color: var(--text-primary-color); /* changes the foreground color to green */
 --paper-toolbar: {
   font-size: 40px; /* Change default font size */
 }; /* Notice the semicolon here */
}

paper-toolbar + paper-toolbar {
  --paper-toolbar-background: var(--primary-background-color);
  margin-top: 20px;
}


paper-toolbar.red {
 --paper-toolbar-background: red;
}


paper-card {
  @apply(--layout-vertical);
  @apply(--center-justified);
  background: white;
  box-sizing: border-box;
  padding: 16px;
  border-radius: 5px;
}

/* Breakpoints */

/* Small */
@media screen and (min-width: 320px) and (max-width:640px){
  paper-card.t5-home{
    padding: 0px !important;
  }
}

.flexbox-container {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}


.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  padding: 10px;
  width: 245px;
  height: auto;
}




/*.flex-item {
  padding: 5px;
  margin-top: 10px;

  --line-height: 150px;
  --text-align: center;
}*/

/*
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  --border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}*/


/*

.text {
  font-family: Ailerons;
  padding: 0.5em;
}

.action {
  text-align: right;
  padding: 1em;
}

.content {
  background-color: blue;
}

paper-fab.large {
  width: 4em;
  height: 4em;
}

paper-fab.blue {
  color: white;
  --paper-fab-background: var(--paper-light-blue-500);
  --paper-fab-keyboard-focus-background: var(--paper-light-blue-900);
}

h1.logo {
  font-family: ADAM.CG PRO;
  font-size: 14vh;
  margin-top: 8%;
}

.center {
  text-align: center;
}

.subtitle {
  text-align: justify;
  padding: 3%;
  font-size: 4vh;
}


*/
