:host {
  display:block;
  background: transparent;
}


.big {
  margin-top: 192px;
  --iron-icon-height: 20vh;
  --iron-icon-width: 20vh;
  --paper-icon-button-ink-color: #FFF;
  font-size: 2vh;
}


paper-toolbar {
  padding: 16px;
  border-radius: 5px;
  cursor: pointer;
 --paper-toolbar-background: var(--secondary-background-color); /* changes the background to blue*/
 --paper-toolbar-color: var(--text-primary-color); /* changes the foreground color to green */
 --paper-toolbar: {
   font-size: 40px; /* Change default font size */
 }; /* Notice the semicolon here */
}

paper-toolbar + paper-toolbar {
  --paper-toolbar-background: var(--primary-background-color);
  margin-top: 20px;
}


paper-toolbar.red {
 --paper-toolbar-background: red;
}

/*

.text {
  font-family: Ailerons;
  padding: 0.5em;
}

.action {
  text-align: right;
  padding: 1em;
}

.content {
  background-color: blue;
}

paper-fab.large {
  width: 4em;
  height: 4em;
}

paper-fab.blue {
  color: white;
  --paper-fab-background: var(--paper-light-blue-500);
  --paper-fab-keyboard-focus-background: var(--paper-light-blue-900);
}

h1.logo {
  font-family: ADAM.CG PRO;
  font-size: 14vh;
  margin-top: 8%;
}

.center {
  text-align: center;
}

.subtitle {
  text-align: justify;
  padding: 3%;
  font-size: 4vh;
}


*/
