:host {
  display:block;
  background: #eee;
}

.big {
  --iron-icon-height: 20vh;
  --iron-icon-width: 20vh;
  --paper-icon-button-ink-color: #FFF;
  font-size: 2vh;
}

.text {
  font-family: Ailerons;
  padding: 0.5em;
}

.action {
  text-align: right;
  padding: 1em;
}

.content {
  background-color: blue;
}

paper-fab.large {
  width: 4em;
  height: 4em;
}

paper-fab.blue {
  color: white;
  --paper-fab-background: var(--paper-light-blue-500);
  --paper-fab-keyboard-focus-background: var(--paper-light-blue-900);
}

h1.logo {
  font-family: ADAM.CG PRO;
  font-size: 14vh;
  margin-top: 8%;
}

.center {
  text-align: center;
}

.subtitle {
  text-align: justify;
  padding: 3%;
  font-size: 4vh;
}

.title {
  font-size: 6vh;
  text-align: center;
}

