:host {
display:block;
background: #eee;
}

.big{
  --iron-icon-height: 25.0vh;
  --iron-icon-width: 25.0vh;
  --paper-icon-button-ink-color: #FFF;
  font-size: 20.0vh;
}

.center{
  text-align: center;
}

.firstPara{
  text-align: justify;
  padding: 3%;
  font-size: 3.0vh;
}

.teclaTitle{
  font-size: 6.0vh;
  text-align: center;
}

h1{
  font-size: 20.0vh;
  margin-top: 8%;

}
