:host {
  display: block;
  background: #FFF;
}

[hidden] {
  display: none;
}



paper-material {
  background: white;
  box-sizing: border-box;
  padding: 16px;
  border-radius: 5px;
  cursor: pointer;

}

paper-material.colored {
  border-color: var(--primary-background-color);
  /*background-color: var(--paper-light-blue-50);*/
  color: var(--primary-background-color);
  border: 1px outset;
}


paper-dialog.colored {
  border-color: var(--primary-background-color);
  background-color: var(--paper-light-blue-50);
  color: var(--primary-background-color);
  border: 2px solid;
}


paper-dialog.size-position {
  position: fixed;
  top: 16px;
  right: 16px;
}

paper-dialog.size-position {
  width: 300px;
  height: 300px;
}


paper-button {
  background-color: transparent;
  border-width: medium;
  border-color: var(--primary-background-color);
}

.email {
  background: var(--primary-background-color);
}


.successMsgDiv{
  display:none;
  padding-bottom: 30%;
}
.success{
  font-size: 3vh;
  text-align: center;
}
.sub{
  color: #fff;
  font-size: 1.8vh;
}

@media (max-width: 600px) {
  h1.paper-font-display1 {
    font-size: 24px;
  }
}
