:host {
  display: block;
}

[hidden] {
  display: none;
}

paper-material {
  box-sizing: border-box;
  padding: 16px;
  border-radius: 5px;
  cursor: pointer;
}

paper-dialog.size-position {
  background-color: var(--secondary-background-color);
  position: fixed;
  top: 16px;
  right: 16px;
  width: 300px;
}

paper-button {
  border-width: medium;
  border-color: var(--primary-background-color);
}



.successMsgDiv{
  display:none;
  padding-bottom: 30%;
}
.success{
  font-size: 3vh;
  text-align: center;
}
.sub{
  color: #fff;
  font-size: 1.8vh;
}

@media (max-width: 600px) {
  h1.paper-font-display1 {
    font-size: 24px;
  }
}
